
* {
  box-sizing: border-box;
  overflow-x: hidden;
  // overflow-y: hidden;
}
/****** GENERAL ******/
body,
html {
  height: 100%;
  background-color: white;
  font-family: 'Libre Franklin', sans-serif;    
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  float: left;
}

li a {
  padding: 8%;
  margin: 8%;
}

h1, h2, h3, h4 {
  font-family: 'Libre Franklin', sans-serif;  
  // font-family: 'Playfair Display SC', serif;  
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container { 
  padding: 0px;
}

hr {
  display: block;
  text-align: center;
  height: 1px;
  border: 0;
  border-top: 3px solid gold;
  margin: 1em 4em;
  padding: 0;
}
/****** NAV ******/
nav {
  /* background: #ffcc33 !important; */
  /* background: #f0f0f0 !important; */
  background: white !important;
  /* background: #fa625f !important; */
}

.nav-link {
  display: inline-block;
}
img.loggo {
  max-height: 68px;
  margin-left: 2px;
}
a.nav-item.nav-link.link {
  color: black;
  /* border: 2px solid black; */
  margin: 8px;
}
a.nav-item.nav-link.link:hover {
  text-decoration: line-through;
  text-decoration-color: #e4001c;
  color: #e4001c;
}

a.nav-item {
  padding: 4px;
  color: black;
}

.logo {
  padding: 4px;
  color: black;
}

img.jules {
  max-height: 17rem;
  padding: 1.5%;
  margin-right: 0px; 
}

.directory {
  text-align: center;
  margin-left: 62%;
}
/******* ABOUT *******/
#about {
  padding-top: 8%;
  // background-color: #f0f0f0;
  background-image: url('../images/whiteboard.jpg');
  // height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.about-me {
  padding-left: 6rem;
  padding-right: 6rem;
}

.mainBanner {
  padding-top: 4%;
  padding-bottom: 2%;
}
.bottomBanner {
  padding-bottom: 2%;
}
.socialLinks {
  padding-bottom: 3%;
}
h1.opener {
  color: blue;
  font-family: 'Heebo', sans-serif;
  font-size: 607%;
  overflow-y: hidden;
  font-weight: bold;
  line-height: .8;
  padding-top: 5%;
}

/****** PROJECTS ********/
#projects {
  padding-top: 6.7%;
}
#projectsGrid {
  padding-top: 2%;  
}

#projects h1 {
  color: black;
  border-bottom: 3px solid gold;
}

.github {
  color: white;
  background-color: #e4001c;
  padding: 1px 3px 0px 3px;
}
a.github:hover {
  color: white;
  text-decoration: line-through;
}

.linkedin {
  color: white;
  background-color: #e4001c;
  padding: 5px 6px 5px 6px;
}
a.linkedin:hover {
  color: white;
  text-decoration: line-through;
}

.iconLink {
  font-size: 1.9rem;
}
.cardHeight {
  min-height: 15.5rem;
  max-height: 15.5rem;
}
.card-body.description{
  min-height: 9rem;
  max-height: 9rem;
}
/****** Bio ******/
section#bio {
  padding-top: 6.7%;
}
.bio h1{
  color: black;
  border-bottom: 3px solid gold;
}
/****** TECHNOLOGIES ******/
#technologies {
  padding-top: 6.7%;
}
#technologies h1{
  color: black;
  border-bottom: 3px solid gold;
}

.logos {
  padding: .25rem;
  margin: .75rem;
  border: none;
}
a.NSS {
  color: #f26c2d;
}
a.example {
  color: #503980;
}

/****** CONTACT ******/
#contact {
  padding-top: 6.8%;
  padding-bottom: 9%;
}
#contact h1 {
  color: black;
  border-bottom: 3px solid gold;
}
.contactCont {
  padding-top: 3%;
  padding-top: 3%;
}
.subHead {
  float: right;
  // font-size: 250%;
  color: #e4001c;
}

/****** FOOTER ******/
#footer {
  height: 15rem;
  background-color: #f0f0f0;
}

.footCont {
  padding-top: 3%;
  padding-bottom: 2%;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; 
  }
}

/* iphone 5 and smaller */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  #about {
    padding-top: 33%;
  }
  img.jules {
    max-height: 14rem;
    padding: 2%;
    margin-right: auto;
    
  }
  .directory {
    margin-left: 0%;
  }
  .about-me {
    padding-left: .8rem;
    padding-right: .8rem;
  }
  h1.opener{
    text-align: center;
    font-size: 300%;
  }
  .subHead {
    float: none;
    margin-left: 2rem;
  }
  .subContact {
    margin-left: 2rem;    
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  #about {
    padding-top: 20%;
  }
  img.jules {
    max-height: 14rem;
    padding: 2%;
    margin-right: auto;
    
  }
  .about-me {
    padding-left: .8rem;
    padding-right: .8rem;
  }
  h1.opener{
    text-align: center;
    font-size: 320%;    
  }
  .subHead {
    float: none;
    margin-left: 2rem;
  }
  .subContact {
    margin-left: 2rem;    
  }
}
/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 668px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  #about {
    padding-top: 18%;
  }
  img.jules {
    max-height: 14rem;
    padding: 2%;
    margin-right: auto;
  }
  .directory {
    margin-left: 0%;
  }
  .summary{
    padding-left: 4%;
  }
  .about-me {
    padding-left: .8rem;
    padding-right: .8rem;
  }
  h1.opener{
    text-align: center;
    font-size: 320%;    
  }
  .subHead {
    float: none;
    margin-left: 2rem;
  }
  .subContact {
    margin-left: 2rem;    
  }
}
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 668px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #about {
      padding-top: 24%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      overflow-y: hidden;
    }
    img.jules {
      max-height: 13rem;
      padding: 2%;
      margin-right: auto;
    }

    .directory {
      margin-left: 0%;
    }
    .about-me {
      padding-left: .8rem;
      padding-right: .8rem;
    }
    h1.opener{
    font-size: 375%;
    text-align: center;
    }
    .socialLinks {
      margin: 10px;
    }
    .subHead {
      float: none;
      margin-left: 2rem;
    }
    .subContact {
      margin-left: 2rem;    
    }
  }